<div id="financial-aid-report" class="row">
    <div class="col-md-12">
        <h2>Financial Aid Report</h2>
        <h4>Total: <span data-bind="text:totalAid"></span> </h4>
        <div id="options-header" class="row hidden-print" style="margin-bottom: 10px">
            <div class="checkbox col-md-12">
                <label>
                    <input type="checkbox" data-bind="checked:showAttendedOnly,click:filter">  Show attended only
                </label>
            </div>
        </div>
        <div id="print-header" class="row visible-print-block" style="margin-bottom: 10px">
            <div class="col-md-12">
                <h4 data-bind="visible:!showAttendedOnly()">All registrations</h4>
                <h4 data-bind="visible:showAttendedOnly">Attended only</h4>
            </div>
        </div>

        <div id="no-records" data-bind="visible:dataList().length == 0">
            No records.
        </div>
        <div data-bind="visible:dataList().length">
            <div id="report-name-table" class="row">
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Registration Name</th>
                            <th>Attended</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach:dataList">
                        <tr>
                            <td>
                                <span style="padding-right: 10px" data-bind="text:registrationName"></span>
                                    <span style="white-space: nowrap">
                                    <a class="btn btn-sm hidden-print" title="Lookup registration" data-bind="click:$parent.lookupRegistration"><span class="glyphicon glyphicon-search"></span></a>
                                    </span>
                            </td>
                            <td data-bind="text:attended"></td>
                            <td class="text-right" nowrap data-bind="text:amountFormatted"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
