<div class="row">
    <div class="col-md-1 form-group">
        <h4 data-bind="text:dayName" style="font-size: 16px"></h4>
    </div>
    <div class="col-md-4 form-group">
        <label class="control-label">
            Housing preference <span data-bind="visible:occupancy">(private room)</span>
        </label>
        <select class="form-control"  data-bind="options: housingTypes, optionsText: 'Text', value: selectedType, optionsCaption: '-- Show all --'"></select>

    </div>
    <div class="col-md-4 form-group">
        <label class="control-label">
            Housing assignment
        </label>
        <select class="form-control"  data-bind="options: housingUnits, optionsText: 'description', value: selectedUnit, optionsCaption: '-- Not assigned --'"></select>
    </div>
    <div class="col-md-3 form-group">
        <label class="control-label">Note</label>
        <input type="text" class="form-control" data-bind="value:note" />
    </div>

</div>