<div id="button-section">
    <button class="btn btn-sm btn-default" data-bind="click:showNewUnitDialog">Create new housing unit</button>
    <button class="btn btn-sm btn-danger" data-bind="visible:changed,click:saveChanges">Save changes</button>
</div>

<div id="units-table">
    <table class="table">
        <thead>
        <tr>
            <th>Unit name</th><th>Capicity</th><th>Housing type</th><th>Active</th><th>&nbsp</th>
        </tr>
        </thead>
        <tbody data-bind="foreach:housingUnits">
        <tr>
            <td data-bind="text:unitname"></td>
            <td data-bind="text:capacity"></td>
            <td data-bind="text:housingTypeName"></td>
            <td data-bind="visible:housingUnitId==0">
                New
            </td>
            <td data-bind="visible:housingUnitId">
                <div class="checkbox">
                    <input type="checkbox" id="isactive" name="isactive"
                           data-bind="checked: active, click: $parent.toggleActive"> Active
                </div>
            </td>
            <td>
                [<a href="#" data-bind="click:$parent.showEditUnitDialog">Edit</a>]
            </td>

        </tr>
        </tbody>
    </table>
</div>
<!-- Modals -->
<div id="modals-section">

    <div class="modal" id="unit-update-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" data-bind="text: unitForm.heading"></h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div data-bind="visible:unitForm.errorMessage()">
                            <span class="error" data-bind="text: unitForm.errorMessage"></span>
                        </div>
                        <div data-bind="visible: unitForm.unitId()!=0">
                            <div class="form-group">
                                <label class="control-label" for="unitnamedisplay">Unit name: </label>
                                <span id='unitnamedisplay' data-bind="text: unitForm.unitname"></span>
                            </div>
                        </div>

                        <div data-bind="visible: unitForm.unitId()==0">
                            <div class="form-group">
                                <label class="control-label" for="unitname">Unit name</label>
                                <input type="text" class="form-control" id="unitname" data-bind="textInput: unitForm.unitname" />
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="control-label" for="capacity">Capacity</label>
                            <input type="email" class="form-control" id="capacity" data-bind="textInput: unitForm.capacity" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="housingtypes">Housing type</label>
                            <select id="housingtypes" class="form-control"  data-bind="options: housingTypes, optionsText: 'Text', value: unitForm.selectedHousingType, optionsCaption: '-- Select --'"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bind="click: updateUnit">Apply changes</button>
                    <button type="button" class="btn btn-default"  data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
