<div id="registration-dashboard-panel">
    <div id="dashboard-header" class="row">
        <div class="col-md-10">
            <h3 data-bind="text:registration.name"></h3>
            <div class="form-group">
                <label class="control-label">Lookup code:</label>
                <span data-bind="text:registration.registrationCode"></span> [<a target="_blank" data-bind="attr: {href: '/register?code=' + registration.registrationCode()}">Open registration.</a>]
            </div>
        </div>
        <div class="col-md-2">
            <button data-bind="click:refresh" class="hidden-print btn btn-default pull-right" title="Click this if changes were made in another browser window." style="margin-top: 20px"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
        </div>
    </div>
    <div id="registration-info" class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Address</label>
                <div data-bind="text:registration.address"></div>
                <div data-bind="text:registration.city"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" data-bind="visible:registration.email">
                <label class="control-label">Email</label>
                <div>
                    <a data-bind="text: registration.email, attr: {href: 'mailto:'+ registration.email()}"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" data-bind="visible:registration.phone">
                <label class="control-label">Phone</label>
                <div data-bind="text:registration.phone"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-group col-md-12" >
            <label class="control-label">Housing:</label>
            <span data-bind="text:registration.housingAssignment, visible:registration.confirmed"></span>
            <span data-bind="visible:!registration.confirmed()" style="padding-left: 6px">
                <strong style="color:red" >Warning: housing not confirmed please check assignments.</strong>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label class="control-label">Balance:</label>
            <span data-bind="text: registration.balance"></span>
        </div>
    </div>

    <div id="payment-block" class="row">
        <div class="col-md-12">
            <div data-bind="visible:checkinEnabled">
                <div data-bind="visible: registration.balanceDue">
                    <payment-form></payment-form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div id="attender-check-list">
                <h3>Attenders</h3>
                <p>Check attenders who have arrived.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th data-bind="visible:checkinEnabled">Arrived?</th>
                            <th>Name</th>
                            <th>Age group</th>
                            <th>First time?</th>
                            <th>Diet</th>
                            <th>More...</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:attenders">
                        <tr>
                            <td data-bind="visible:$parent.checkinEnabled">
                                <input type="checkbox" data-bind="checked:arrived, click: $parent.toggleCheckin">
                            </td>
                            <td data-bind="text:name"></td>
                            <td data-bind="text:ageGroup"></td>
                            <td data-bind="text:firstTimer"></td>
                            <td data-bind="text:dietPreference"></td>
                            <td>
                                <a href="#" data-bind="click: $parent.showAttenderDetails">[details...]</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
         </div>
        </div>
        <div class="col-md-4">
            <div data-bind="visible:showNotes">
                <h3>Notes:</h3>
                <div class="form-group">
                    <div data-bind="text:registration.notes"></div>
                </div>
                <div class="form-group" data-bind="foreach:attenders">
                    <div data-bind="visible:note">
                        <span data-bind="text:name"></span>: <span data-bind="text:note"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-12">
            <h3>Registrar Notes</h3>
            <div data-bind="text:registration.registrarNotes"></div>
            </p> <a href="#" data-bind="click:showRegNotesModal">Update notes</a> </p>
        </div>
    </div>
    <div class="row" style="padding: 10px;" id="buttons-section" >
            <div class="col-md-2">
                <div class="form-group">
                    <button class="btn btn-primary" style="margin-right: 10px" data-bind="click:checkIn, visible:checkinEnabled">Save and check-in</button>
                </div>
                <div class="checkbox"  data-bind="visible:checkinEnabled">
                    <label><input type="checkbox" data-bind="checked:printInvoiceOnCheckin" />Print invoice</label>
                </div>
            </div>
            <div class="col-md-10">
                <button class="btn btn-default" data-bind="click:closeDashboard">Close</button>
            </div>
    </div>

</div>
<modal-confirm params="id:'confirm-dashboard-close',headerText: 'Please confirm', bodyText: dashboardCloseMessage, confirmClick: exitDashboard, buttonSet: 'Close||Return'"></modal-confirm>
<modal-confirm params="id:'confirm-dashboard-save',headerText: 'Ready to save?', bodyText: dashboardCloseMessage, confirmClick: saveAndExit, buttonSet: 'Save||Return'"></modal-confirm>
<modal-confirm params="id:'dashboard-alert',headerText: 'Notice', bodyText: dashboardCloseMessage, buttonSet: 'alert'"></modal-confirm>
<div class="modal" id="attender-detail-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" data-bind="text: attenderForm.name"></h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" data-bind="visible:attenderForm.ageGroup()">
                        <label class="control-label">Age group: </label>
                        <span data-bind="text: attenderForm.ageGroup"></span>
                    </div>
                    <div class="form-group" data-bind="visible:attenderForm.dietPreference()">
                        <label class="control-label">Diet preference: </label>
                        <span data-bind="text: attenderForm.dietPreference"></span>
                    </div>
                    <div class="form-group" data-bind="visible:attenderForm.specialNeeds()">
                        <label class="control-label">Special needs: </label>
                        <span data-bind="text: attenderForm.specialNeeds"></span>
                    </div>
                    <div class="form-group" data-bind="visible:attenderForm.firstTimer()">
                        <label class="control-label">First timer: </label>
                        <span data-bind="text: attenderForm.firstTimer"></span>
                    </div>
                    <div class="form-group" data-bind="visible:attenderForm.meeting()">
                        <label class="control-label">Meeting or organization: </label>
                        <span data-bind="text: attenderForm.meeting"></span>
                    </div>
                    <div class="form-group" data-bind="visible:attenderForm.linens()">
                        <label class="control-label">Needs linens? </label>
                        <span data-bind="text: attenderForm.linens"></span>
                    </div>
                    <div class="form-group" data-bind="visible:attenderForm.note()">
                        <label class="control-label">Note: </label>
                        <div data-bind="text: attenderForm.note"></div>
                    </div>
                    <h4>Housing assignments</h4>
                    <table class="table">
                        <tbody data-bind="foreach: attenderForm.housingAssignments">
                            <tr><td data-bind="text:day"></td><td data-bind="text:unit"></td></tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal" id="dashboard-registration-notes-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Notes: <span data-bind="text:registration.name"></span></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" >
                        <form>
                            <div class="form-group">
                                <label class="control-label">Note: </label>
                                <textarea rows="4" class="form-control" id="dashboard-registrar-notes-input"
                                          data-bind="value:registration.registrarNotes"></textarea>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  data-bind="click:updateRegNotes" style="margin-right: 10px">Save</button>
                <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


